<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.Test1.mapper.BookMapper">
  <resultMap id="BaseResultMap" type="com.soft.Test1.domain.Book">
    <!--@mbg.generated-->
    <!--@Table book-->
    <id column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="book_isbn" jdbcType="VARCHAR" property="bookIsbn" />
    <result column="book_press" jdbcType="VARCHAR" property="bookPress" />
    <result column="book_author" jdbcType="VARCHAR" property="bookAuthor" />
    <result column="book_pagination" jdbcType="INTEGER" property="bookPagination" />
    <result column="book_price" jdbcType="DOUBLE" property="bookPrice" />
    <result column="book_uploadtime" jdbcType="VARCHAR" property="bookUploadtime" />
    <result column="book_status" jdbcType="VARCHAR" property="bookStatus" />
    <result column="book_borrower" jdbcType="VARCHAR" property="bookBorrower" />
    <result column="book_borrowtime" jdbcType="VARCHAR" property="bookBorrowtime" />
    <result column="book_returntime" jdbcType="VARCHAR" property="bookReturntime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    book_id, book_name, book_isbn, book_press, book_author, book_pagination, book_price, 
    book_uploadtime, book_status, book_borrower, book_borrowtime, book_returntime
  </sql>

<!--auto generated by MybatisCodeHelper on 2023-03-19-->
  <select id="findAllByBookId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from book
        <where>
            <if test="bookId != null">
                and book_id=#{bookId,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>